$base-color: #69697a;
$active-color: #52525f;

$base-gradient: 'linear';
$tabs-bottom-active-gradient: 'recessed';
$list-header-bg-color: #6cDAFF;
$list-header-gradient: $base-gradient;
$font-family: 'HelvelticaNeue';

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

@include sencha-button-ui('defaultbutton', #F4F4F4, $base-gradient);
@include sencha-button-ui('addbutton', #F4F4F4, $base-gradient);
@include sencha-button-ui('transpatentbutton', #FFFFFF, none);
@include sencha-toolbar-ui('navigationtoolbar', #FFFFFF, none);

// Your custom code goes here...
.x-list .x-list-disclosure {
  position: absolute;
  bottom: 0.7em !important;
}

.list-item-narrative{
  color:#545454;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  display: inline-block;
}

.x-item-selected .list-item-narrative {
  color:#545454 !important;
}

.notescontainer .x-button-icon.add, .x-button .x-button-icon.x-icon-mask.add{
  background-color: transparent !important;
  background-image: url('../images/add_up.png') !important;
}

.x-list-normal .x-list-header-wrap .x-item-header, .x-list-normal .x-list-header {
  background-color: transparent !important;
  border: 1px solid #3ACEFF;
  border-top-color: #6cDAFF;
  color: #FFFFFF;
  text-align: left;
}

.list-item-icon{
  float: right;
}

.deletenote{
  background-image: url('../images/delete_up.png');
  -webkit-background-size: 36px 47px;
  -khtml-background-size: 36px 47px;
  -o-background-size: 36px 47px;
  background-size: 36px 47px;
}

.nextbutton{
  background-image: url('../images/next_up.png');
}

.prevbutton{
  background-image: url('../images/preview_up.png');
}

.notescontainer .x-list{
  background-color: #FFFFFF;
}

.notescontainer .x-list-item-body {
  background-color: transparent;
}

.notesform{
  background-color: #FFFFFF;
}

.x-list .x-list-item.x-item-selected .x-dock-horizontal {
  background-color: #BBF1FE !important;
  background-image: none;
  border: 1px solid #6cDAFF;
  border-top-color: #3ACEFF;
  color: #545454;
  text-shadow: none;
}

.x-list .x-list-item.x-item-pressed .x-dock-horizontal {
  background-color: #BBF1FE !important;
  background-image: none;
  border: 1px solid #6cDAFF;
  border-top-color: #3ACEFF;
  color: #545454;
  text-shadow: none;
}

.x-list-normal .x-list-item .x-dock-horizontal {
  border: 1px solid #6cDAFF;
}

.x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal {
  border-bottom: 2px solid #6cDAFF;
}

.x-form .x-scroll-container {
  background-color: #FFFFFF;
}

.notesform .navtoolbar.x-toolbar-dark .x-button{
  background-color: transparent;
  background-image: none;
  border: none;
}

.x-button.x-item-disabled .x-button-icon {
  opacity: 0.3;
}

.notescontainer .x-button {
  height: 55px;
  width: 65px;
  font-weight: bold;
  font-size: 1.2em;
}

.titletoolbar .x-button {
  height: 50px;
  width: 80px;
  font-weight: bold;
  font-size: 1.2em;
}

.titletoolbar .x-button-addbutton {
  height: 55px !important;
  width: 65px !important;
  font-weight: bold;
  font-size: 1.2em;
}

.x-toolbar .x-button .x-button-label{
  color: #545454;
  font-weight: bold;
}

.seachfield{
  padding-right: 15px;
}
.x-field-search .x-field-input .x-form-field {
  margin-left: 1.3em;
}

.x-toolbar .x-field .x-clear-icon {
  right: -0.6em;
}

.noteTitleLabel{
  height: 25px;
  width: 35%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: center;
}

.x-toolbar-navigationtoolbar.x-docked-bottom {
  background-color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
  border-top-color: #FFFFFF !important;
  border-bottom-color: #FFFFFF !important;
  color: #FFFFFF;
}

.x-button.x-button-transpatentbutton, .x-toolbar .x-button.x-button-transpatentbutton{
  border-color: #FFFFFF !important;
}

.x-button.x-button-transpatentbutton.x-button-pressing, .x-toolbar .x-button.x-button-transpatentbutton.x-button-pressing{
  border-color: #FFFFFF !important;
  background-image: none !important;
  background-color: transparent !important;
}

.x-label.x-label-datecontainer{
  background-color: #39cdff !important;
  border-top-color: #b7edff !important;
  border-bottom-color: #32b4e0 !important;
  border-left-color: #6cDAFF !important;
  border-right-color: #6cDAFF !important;
  border: 1px solid;
  color: #FFFFFF !important;
  padding-left: 16px;
  font-weight: bold;
  padding-top: 3px;
  height: 25px;
  min-height: 25px !important;
  max-height: 25px !important;
  font-size: 0.8em;
}

.x-button {
  border-top-color: #3f3f49 !important;
  border-bottom-color: #3f3f49 !important;
  border-left-color: #3f3f49 !important;
  border-right-color: #3f3f49 !important;
  border-radius: 7px !important;
}

.x-toolbar{
  border-top-color: #69697b !important;
  border-bottom-color: #3f3f49 !important;
}

.x-button .x-button-icon {
  height: 2.6em;
}